@charset "ISO-8859-1";
/* Style for the header element */
header {
	background-color: #4CAF50;
	padding: 20px;
	color: white;
}

/* Style for the navigation menu */
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	transition: color 0.3s ease;
}

nav ul li a:hover {
	color: #ddd;
}

/* Style for the main element */
main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

main h2 {
	font-size: 36px;
	color: #333;
	margin-bottom: 20px;
}

main p {
	font-size: 20px;
	color: #777;
	margin-bottom: 40px;
}

form button {
	background-color: #008CBA;
	color: white;
	padding: 14px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

form button:hover {
	background-color: #005F6B;
}

/* Style for the footer element */
footer {
	background-color: #f2f2f2;
	padding: 20px;
	text-align: center;
	font-size: 16px;
	color: #888;
}
